mixin basketGood(items)
	each item in items
		.busket-good
			.busket-good__column
				.busket-good__img
					img(src=item.image, alt=item.title)
				.busket-good__remove
					button.btn.btn-circle-red#remove-good(type="button")
						img(src="static/i/general/svg/reset-choise.svg", alt="Удалить")
					span.remove-text Удалить
			.busket-good__column
				.busket-good__title!=item.title
				.busket-good__size Размер/Сетка: 
					span.size!=item.size
				.busket-good__price Цена: 
					span.price!=item.price
					span.rub  P
				.busket-good__quantity 
					span Количество
					.quantity-wrapper
						select#alphabet.quantity(name="quantity")
							option(value="1") 1
				.busket-good__sum Стоимость 
					span.sum 3900
					span.rub  P 




mixin basketGoods()
	//Моя корзина / basket-goods
	section.section.section--busket-goods
		.container
			.busket-goods
				.busket-goods__title.global-blocks-title
					span.global-blocks-title_text Моя корзина
				+basketGood([{
					image: 'static/i/content/products/img_2.jpg',
					title: 'Сорочка Mario&nbsp;Machardi CLP&nbsp;-&nbsp;30&nbsp;-&nbsp;2&nbsp;37',
					price: 3900,
					size: 42
					}, {
					image: 'static/i/content/products/img_21.jpg',
					title: 'Жилет Mario&nbsp;Machardi',
					price: 3900,
					size: 42
					}])
				.busket-result
					span.busket-result__title Итого
					span.busket-result__sum 11 870
						span.rub  р


